extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/categories.mixin.pug
include ../mixins/product-card.mixin.pug
include ../mixins/scroll-top.mixin.pug

block append style
  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  link(rel="stylesheet", href="/css/common/product-type.css")
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/css/product-card.css")


block content
  .page-container
    section.content-wrap
      +navbar
      .navbar-break
      nav.breadcrumb-nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/') Trang chủ
          li.breadcrumb-item
            a(href=`/common/categories/${groupId}`)= groupName
      #filter.row.justify-content-md-center.mb-3
        .col.col-md-2
          select#type.rounded.py-2.px-2(name="type")
            option(hidden,disabled, selected) Loại sản phẩm
            option(value="0") Tất cả
            each item in types
              option(value=item.productTypeId)= item.productTypeName
        .col.col-md-2 
          select#order.rounded.py-2.px-2(name="order")
            option(hidden, disabled, selected) Sắp xếp theo giá
            option(value="1") Tăng 
            option(value="0") Giảm
        .col.col-md-6
      .row.justify-content-md-center#products       
        if products
          each product in products
            - const { productId, productName, unitPrice, quantitativeUnit, thumbnail } = product;
            .my-2.mx-2
              +productCard(productId, productName, helpers.cloudinaryOptimize(thumbnail, "w_350"), helpers.formatCurrency(unitPrice), quantitativeUnit)
      if products && products.length > 0
        .row.justify-content-md-center.my-3
          #view-more.btn.btn-primary Xem thêm sản phẩm
      else
        .row.justify-content-md-center 
          img#no-result(src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/a60759ad1dabe909c46a817ecbf71878.png")
        .row.justify-content-md-center
          .alert.alert-success Không có sản phẩm

        
          



    +footer
    +scrollTop

block append script 
  script.
    var page = parseInt("#{page}");
    const total = parseInt("#{total}");
    const pageSize = parseInt("#{pageSize}");
    const groupId = parseInt("#{groupId}");
  script(src="/vendors/selectize/selectize.min.js")
  script(src="/vendors/pagination.min.js") 
  script(src="/js/navbar.js") 
  script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="/js/common/product-type.js") 