extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/product-card.mixin.pug
include ../mixins/scroll-top.mixin.pug

block title 
  title Cửa hàng ABC | Smarket

block append style
  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  link(rel="stylesheet", href="/css/product-card.css")
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/css/common/store-info.css")

block content
  .page-container
    section.content-wrap
      +navbar
      .navbar-break

      - const { storeName, avatar, status, address, phone, categories, createDate, products = [], feedbacks = [] } = storeInfo;
      
      //- Store Information
      .bg-white.py-4(style="border-bottom: solid 1px #ddd;")
        .container
          .row
            .col-12.col-md-4.mb-md-0.mb-3.d-flex.flex-column.justify-content-center
              .basic-info.d-flex.p-3
                img.store-avt(src=avatar, alt="Avatar", onerror="this.onerror=null;this.src='https://res.cloudinary.com/tuan-cloudinary/image/upload/w_64,h_64/v1607750466/defaults/default-avatar_amkff5.jpg'")
                .ml-3.d-flex.flex-column.justify-content-center 
                  h2.store-name= storeName
                  p.store-status= helpers.convertStoreStatus(status)

            .col-12.col-md-4.d-flex.flex-column.justify-content-around
              .d-flex.mb-2 #[i.bi.bi-shop] #[span.mx-2.store-label Sản phẩm:] #[span.text-danger= products.length]
              .d-flex.mb-2 #[i.bi.bi-star] #[span.mx-2.store-label Đánh giá:] #[span.text-danger 5.0 (#{feedbacks.length} lượt)]
              .d-flex.mb-2 #[i.bi.bi-list-columns] #[span.mx-2.store-label Danh mục:] #[span.text-danger= categories]

            .col-12.col-md-4.d-flex.flex-column.justify-content-around
              .d-flex.mb-2 #[i.bi.bi-person-check] #[span.mx-2.store-label Tham gia:] #[span.text-danger= helpers.formatDate(createDate)]
              .d-flex.mb-2 #[i.bi.bi-telephone] #[span.mx-2.store-label SĐT:] #[span.text-danger= phone]
              .d-flex.mb-2 #[i.bi.bi-geo-alt] #[span.mx-2.store-label Địa chỉ:] #[span.text-danger= address]

      //- Store's products
      .container.box.py-3.my-4
        .product-list
          h2.product-list__title Tất cả sản phẩm
          if products.length > 0
            .products-slider
              each product in products
                .px-2 
                  +productCard(product.productId, product.productName, product.thumbnail, helpers.formatCurrency(product.unitPrice), product.quantitativeUnit)

      .container.box.py-3.mb-4
        h2.product-list__title Đánh giá cửa hàng
        .review-summary.mb-3
          .mb-1 #[span.rating= feedbacks.length > 0 ? 5 : 0] trên 5
          .d-flex
            each s in new Array(5).fill(1)
              i.bi.bi-star-fill.star-icon

        ul.review-list
          if feedbacks.length > 0
            each feedback in feedbacks
              li.review-item.d-flex
                i.review-avt.bi.bi-person-circle.mr-3
                .flex-grow-1
                  .review-author Anonymous
                  .review-rating
                    each s in new Array(5).fill(1)
                      i.bi.bi-star-fill.review-star
                  .review-date.mb-2= helpers.formatDate(feedback.time)
                  .review-content= feedback.content

      +footer
      +scrollTop

block append script 
  script(src="/vendors/selectize/selectize.min.js") 
  script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="/js/navbar.js") 
  script(src="/js/home.js") 